.fa-infinity:before{
	content: "∞";
}

.download{
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.edit{
	position: absolute;
	top: 20px;
	left: 60px;
	cursor: pointer;
}

.trash{
	position: absolute;
	top: 20px;
	left: 100px;
	cursor: pointer;
}

.mlabel{ 
	fill:#c00;
	font-size:8px;
	font-weight:bold;
}

.t1{
	fill:#ddd;
	stroke:#999;
}

#p1{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	border:0px solid #ccc;
}


/*Table*/
table {
	margin-top: 100px;
}
.list td{
	width: 150px;
	text-align: left;
	border: 1px solid #ddd;
}

.list tr:first-child{
	 font-weight: bold;
}

#introContainer{
	text-align: center;
	margin: 0 auto;
	width: 30em;
}

#introContainer p{
	text-align: justify;
}

#aboutContainer{
	text-align: center;
	margin: 0 auto;
}

#footerContainer{
	text-align: right;
	margin: auto 20px;
}

#loopImg{
	position: relative;
	top: 3px;
}

#searchField{
	position: relative;
	top:10px;
}