.fa-infinity:before{
	content: "∞";
}

h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: #222;
	font-size: 25px;
}

h2, h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: #555;
	font-size: 20px;
}

.w2ui-node-group{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-weight: lighter;
}

.w2ui-node-caption{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
}



a {
  color:#c73;
  font-weight:400;
  text-decoration:none;
}

p, li{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: #888;
	line-height: 130%;
}
.footer{
	font-size: 14px;
}

#partTable{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-weight: lighter !important;
	color: #666 !important;	
}

.download{
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.edit{
	position: absolute;
	top: 20px;
	left: 60px;
	cursor: pointer;
}

.trash{
	position: absolute;
	top: 20px;
	left: 100px;
	cursor: pointer;
}

.mlabel{ 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:8.5px;
	font-weight: light;
}

.t1{
	fill:#ddd;
	stroke:#999;
}

.left{
	text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#p1{
	/*font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	border:0px solid #ccc;
	font-size: 12px;
	

}

#selector{
	width: 200px;
}

input{
	width: 200px;
}

/*Table*/
table {
	margin-top: 50px;
}
.list td{
	width: 150px;
	text-align: left;
	color: #333;
}

.list tr:first-child{
	font-weight: bold;
	border-bottom: 1px #333 solid;
	color: #333;
}

#introContainer{
	text-align: center;
	margin: 0 auto;
	width: 40em;
}

#introContainer p{
	text-align: justify;
}

#aboutContainer{
	text-align: center;
	margin: 0 auto;
	width: 40em;
}
#aboutContainer p{
	text-align: justify;
}

#aboutContainer li{
	text-align: left;
}


#footerContainer{
	text-align: right;
	margin: auto 20px;
}

#loopImg{
	position: relative;
	top: 3px;
}

#searchField{
	position: relative;
	top:10px;
}