.fa-infinity:before{
	content: "∞";
}

.download{
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}
.trash{
	position: absolute;
	top: 20px;
	left: 60px;
	cursor: pointer;
}

.mlabel{ 
	fill:#c00;
	font-size:8px;
	font-weight:bold;
}

.t1{
	fill:#ddd;
	stroke:#999;
}

#p1{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	border:1px solid #ccc;
}


/*Table*/
table {
	margin-top: 100px;
}
.list td{
	width: 150px;
	text-align: left;
	border: 1px solid #ddd;
}

.list tr:first-child{
	 font-weight: bold;
};