<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
		
		<script src="/static/js/3rdParty/sequence_viewer.js"></script>
		<script src="/static/js/3rdParty/w2ui-1.5.rc1.min.js"></script>
		<script src="/static/js/3rdParty/biojs_io_fasta.min.js"></script>
		<script src="/static/js/3rdParty/angularplasmid.min.js"></script>
		<script src="/static/js/3rdParty/list.min.js"></script>
		
		<script src="/static/js/layout.js"></script>
		<script src="/static/js/plasmid.js"></script>
		<script src="/static/js/render.js"></script>
		
		<script src="/static/js/forms/addNewForm.js"></script>
		<script src="/static/js/forms/addMultipleForm.js"></script>
		<script src="/static/js/forms/assemblyForm.js"></script>
		<script src="/static/js/forms/forms.js"></script>
		
		<script src="/static/js/main.js"></script>
		



		<link href="/static/css/w2ui-1.5.rc1.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/css/loop.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/css/github-markdown.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/fa/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="layout" ng-app="angularPlasmid" ng-controller="plasmidPreview" style="height: 100%"></div>
	</body>
</html>