<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
		
		<script src="/static/js/sequence_viewer.js"></script>

		<script src="/static/js/render.js"></script>	
		<script src="/static/js/layout.js"></script>		
		<script src="/static/js/plasmid.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="/static/js/biojs_io_fasta.min.js"></script>
		


		<link href="/static/css/w2ui-1.5.rc1.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/css/loop.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/fa/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
		<script src="/static/js/w2ui-1.5.rc1.min.js"></script>
		
		<script src="/static/js/angularplasmid.min.js"></script>
		
		<script src="/static/js/list.min.js"></script>
		
	</head>
	<body>
		<div id="layout" style="height: 100%"></div>
	</body>
</html>